#first_name_error,#middle_name_error,#last_name_error,#contact_error,#password_error,#gender_error,#checkbox_error {
            font-style: italic;
            color: #ff0800;
            font-family: Calibri;
            font-size: 12px;
        }

        body {
            font-family: Arial, sans-serif;

            padding-top: 2px;
        }

        .container {
            width: 320px;
            padding: 30px;
            background: #fff;
            box-shadow: 0 15px 30px rgba(17, 19, 18, 0.2);
            margin: 40px auto;
        }

        .form_box h2 {
            margin-bottom: 20px;
            justify-content: center;
            align-items: center;
        }

        label {
            display: block;
            text-align: left;
            margin-top: 5px;
            font-size: 14px;
        }

        #first_name,
        #contact,
        #password,
        #middle_name,
        #last_name,
        .gender {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border: 1px solid #706969;
            border-radius: 4px;
        }

        button {
            width: 100%;
            margin-top: 18px;
            padding: 10px;
            background: #18551b;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background: rgb(93, 226, 32);
        }

        p {
            margin-top: 15px;
            font-size: 14px;
        }

        .gender label {
            margin-right: 6px;
            font-size: 15px;
            cursor: pointer;

        }

        .gender input[type="radio"] {
            margin-right: 3px;
        }


        a {
            color: rgb(8, 67, 85);
            text-decoration: none;
        }